<z-card [zTitle]="'Usuários'">
  <div class="space-y-4">
    <div class="overflow-hidden rounded-md border">
      <table z-table>
        <thead z-table-header>
        <tr z-table-row>
          <th z-table-head>Nome</th>
          <th z-table-head>CPF</th>
          <th z-table-head>RG</th>
          <th z-table-head class="w-16">Ações</th>
        </tr>
        </thead>
        <tbody z-table-body [class]="carregamentoInicial() ? 'mask-b-from-50%' : ''">
          @if (carregamentoInicial()) {
            @for (_ of quantidadeSkeletons; track $index) {
              <tr z-table-row>
                <td z-table-cell>
                  <z-skeleton class="w-40 h-5"/>
                </td>

                <td z-table-cell>
                  <z-skeleton class="w-30 h-5"/>
                </td>

                <td z-table-cell>
                  <z-skeleton class="w-20 h-5"/>
                </td>

                <td z-table-cell>
                  <div class="flex items-center gap-2">
                    <z-skeleton class="size-8 rounded-full"/>
                    <z-skeleton class="size-8 rounded-full"/>
                    <z-skeleton class="size-8 rounded-full"/>
                  </div>
                </td>
              </tr>
            }
          } @else {
            @for (usuario of usuarios(); track usuario.id) {
              <tr z-table-row>
                <td z-table-cell>
                  <div>{{ usuario.nome }}</div>
                </td>
                <td z-table-cell>
                  <div>{{ usuario.cpf | cpf }}</div>
                </td>
                <td z-table-cell>
                  <div>{{ usuario.rg }}</div>
                </td>
                <td z-table-cell>
                  <div class="flex items-center gap-2">
                    <a
                      z-button
                      zType="ghost"
                      [routerLink]="'/usuarios-perfis/' + usuario.id"
                      title="Detalhar usuário"
                      zTooltip="Detalhar usuário"
                    >
                      <ng-icon name="lucideUserSearch" size="1.25rem"></ng-icon>
                    </a>

                    <a
                      z-button
                      zType="ghost"
                      [routerLink]="'/usuarios-perfis/' + usuario.id + '/editar'"
                      title="Editar usuário"
                      zTooltip="Editar usuário"
                    >
                      <ng-icon name="lucideUserPen" size="1.25rem"></ng-icon>
                    </a>

                    <a
                      z-button
                      zType="ghost"
                      class="text-destructive"
                      (click)="excluirUsuario(usuario.id)"
                      title="Deletar usuário"
                      zTooltip="Deletar usuário"
                    >
                      <ng-icon name="lucideTrash2" size="1.25rem"></ng-icon>
                    </a>
                  </div>
                </td>
              </tr>
            } @empty {
              <tr z-table-row>
                <td z-table-cell [attr.colspan]="4" class="h-24 text-center">
                  Sem resultados.
                </td>
              </tr>
            }
          }
        </tbody>
      </table>
    </div>
  </div>
  <div card-footer class="flex w-full ">
    <z-pagination />
  </div>
</z-card>
