<z-layout class="overflow-hidden ">
  <z-sidebar
    [zWidth]="250"
    [zCollapsible]="true"
    [zCollapsed]="sidebarCollapsed()"
    [zCollapsedWidth]="70"
    (zCollapsedChange)="onCollapsedChange($event)"
    class="p-0!"
  >
    <nav [class]="'flex h-full flex-col overflow-hidden ' + (sidebarCollapsed() ? 'gap-1 p-1 pt-4' : 'gap-4 p-4')">
      @for (grupoNavegacao of gruposNavegacao; let i = $index; track grupoNavegacao.id) {
        <z-sidebar-group>
          @if (!sidebarCollapsed() && grupoNavegacao.tituloGrupo) {
            <z-sidebar-group-label [class]="i === 0 ? 'text-2xl justify-center mb-4' : ''">
              {{ grupoNavegacao.tituloGrupo }}
            </z-sidebar-group-label>
          }
          @for (itemNavegacao of grupoNavegacao.itensNavegacao; track itemNavegacao.id) {
            @if (itemNavegacao.submenus) {
              <a
                z-button
                zType="ghost"
                z-menu
                [zMenuTriggerFor]="submenu"
                zPlacement="rightTop"
                [class]="obterClasseItemBotao(itemNavegacao)"
                [zTooltip]="sidebarCollapsed() ? itemNavegacao.titulo : null"
                zPosition="right"
                [attr.aria-current]="isItemAtivo(itemNavegacao) ? 'page' : null">
                <z-icon [zType]="itemNavegacao.icone" [zSize]="'xl'" [class]="sidebarCollapsed() ? '' : 'mr-2'"/>
                @if (!sidebarCollapsed()) {
                  <span class="flex-1 text-left">{{ itemNavegacao.titulo }}</span>
                  <z-icon zType="chevron-right"/>
                }
              </a>

              <ng-template #submenu>
                <div z-menu-content class="w-48">
                  @for (submenu of itemNavegacao.submenus; track submenu.id) {
                    <a
                      z-menu-item
                      [routerLink]="submenu.rota"
                      [class]="obterClasseSubmenuItem(submenu.rota)"
                      [attr.aria-current]="isRotaAtiva(submenu.rota) ? 'page' : null">
                      {{ submenu.titulo }}
                    </a>
                  }
                </div>
              </ng-template>
            } @else {
              <a
                z-button
                zType="ghost"
                [class]="obterClasseLinkBotao(itemNavegacao.rota)"
                [zTooltip]="sidebarCollapsed() ? itemNavegacao.titulo : ''"
                zPosition="right"
                [routerLink]="itemNavegacao.rota"
                [attr.aria-current]="isRotaAtiva(itemNavegacao.rota) ? 'page' : null"              >
                <z-icon [zType]="itemNavegacao.icone" [zSize]="'xl'" [class]="sidebarCollapsed() ? '' : 'mr-2'"/>
                @if (!sidebarCollapsed()) {
                  <span>{{ itemNavegacao.titulo }}</span>
                }
              </a>
            }
          }
        </z-sidebar-group>
      }

      <div class="mt-auto">
        <div
          z-menu
          [zMenuTriggerFor]="userMenu"
          zPlacement="rightBottom"
          [class]="
                'hover:bg-accent flex cursor-pointer items-center justify-center gap-2 rounded-md ' +
                (sidebarCollapsed() ? 'm-2 p-0' : 'p-2')
              "
        >
          <!--          <z-avatar zSrc="https://s3.amazonaws.com/storage-api.rh.live.convenia.com.br/1f444c54-dbb7-469d-bc38-5428687fc93c/Colaboradores/e48f7fd4-ae98-48c5-b668-2c4c4541c540/Foto%20de%20perfil/photo_852026810.png" zAlt="Zard UI" />-->

          <!--          @if (!sidebarCollapsed()) {-->
          <!--            <div>-->
          <!--              <span class="font-medium">O Mais Gostoso</span>-->
          <!--              <div class="text-xs">will&#64;gostoso.com</div>-->
          <!--            </div>-->

          <!--            <z-icon zType="chevrons-up-down" class="ml-auto" />-->
          <!--          }-->

          <z-avatar
            zSrc="https://s3.amazonaws.com/storage-api.rh.live.convenia.com.br/1f444c54-dbb7-469d-bc38-5428687fc93c/Colaboradores/496cc304-b369-45b2-876c-b469af9d253b/Foto%20de%20perfil/mGbHiMZhIckvUdvIPCne1snrvMA6c5mbl9uLuvD3.png"
            zAlt="Zard UI"/>

          @if (!sidebarCollapsed()) {
            <div>
              <span class="font-medium">Stanley</span>
              <div class="text-xs">stanley&#64;3070ti.com</div>
            </div>

            <z-icon zType="chevrons-up-down" class="ml-auto"/>
          }
        </div>

        <ng-template #userMenu>
          <div z-menu-content class="w-48">
            <button type="button" z-menu-item>
              <z-icon zType="user" class="mr-2"/>
              Profile
            </button>
            <button type="button" z-menu-item>
              <z-icon zType="settings" class="mr-2"/>
              Settings
            </button>
            <z-divider zSpacing="sm"/>
            <button type="button" z-menu-item>
              <z-icon zType="log-out" class="mr-2"/>
              Logout
            </button>
          </div>
        </ng-template>
      </div>
    </nav>
  </z-sidebar>

  <z-content>
    <div class="flex items-center">
      <button type="button" z-button zType="ghost" zSize="sm" class="-ml-2" (click)="toggleSidebar()">
        <z-icon zType="panel-left"/>
      </button>

      <z-divider zOrientation="vertical" class="ml-2 h-4"/>
    </div>

    <div class="space-y-4 py-4">
      <router-outlet/>
    </div>
  </z-content>
</z-layout>
