<div class="w-full p-16">
  <div class="flex justify-between items-center mb-8">
    <z-segmented zSize="lg" [zOptions]="opcoes"
                 [zDefaultValue]="opcaoSelecionada()"
                 (zChange)="aoMudarOpcaoSelecionada($event)"/>

    <button type="button" z-button zType="default" [routerLink]="'/usuarios-perfis/novo'">
      <ng-icon name="lucidePlus" size="1.25rem"></ng-icon>
      Novo
    </button>
  </div>

  <div class="flex gap-4">
    @if (opcaoSelecionada() === 'usuarios') {
      <app-tabela-usuarios/>
      <app-vinculacoes-rapidas-usuarios/>
    } @else {

    }
  </div>


</div>
